<div class="chart-container" [ngStyle]="{padding:'12px',display:'inline-block',backgroundColor:'#fdffde',border:'1px solid black',position:'relative',color:'black', fontFamily:'Arial',textAlign:'center'}" #container>
  <canvas width="300" height="300" #pieChartCanvas (mousemove)="reactOnHover($event)" (mouseleave)="removeInfoSpan()" style="margin:auto">
  </canvas>
  <app-info-span [props]="spanState" [isShown]="showSpan" ></app-info-span>
  <div style="text-align:left">
    <p *ngFor="let label of data"><span [ngStyle]="{backgroundColor:label.color}" class="color-div"></span>  {{label.label +' : '+label.value + '  ('+(label.percent)+'%)'}}</p>
  </div>

</div>
